






<p>office works!</p>
<button (click)="call_maneger1 = call_maneger1 +1" >call maneger1</button>
<button (click)="call_secretary1 = call_secretary1 +1" >call secretary1</button>
<button (click)="call_worker1 = call_worker1 +1" >call worker1</button>
<app-maneger [input]= "call_maneger1" (output)="call_maneger1 = call_maneger1 +1"></app-maneger>
<app-secretary [input]= "call_secretary1" (output)="call_secretary1 = call_secretary1 +1"></app-secretary>
<app-worker [input]= "call_worker1" (output)="call_worker1 = call_worker1 +1"></app-worker>
<br><br><br>

<button (click)="call_maneger2 = call_maneger2 +1" >call maneger2</button>
<button (click)="call_secretary2 = call_secretary2 +1" >call secretary2</button>
<button (click)="call_worker2 = call_worker2 +1" >call worker2</button>
<app-maneger [input]= "call_maneger2" (output)="call_maneger2 = call_maneger2 -1"></app-maneger>
<app-secretary [input]= "call_secretary2" (output)="call_secretary2 = call_secretary2 -1"></app-secretary>
<app-worker [input]= "call_worker2" (output)="call_worker2 = call_worker2 -1"></app-worker>
<br><br><br>

<button (click)="call_maneger3 = call_maneger3 +1" >call maneger3</button>
<button (click)="call_secretary3 = call_secretary3 +1" >call secretary3</button>
<button (click)="call_worker3 = call_worker3 +1" >call worker3</button>
<app-maneger [input]= "call_maneger3" (output)="call_maneger3 = call_maneger3 +1"></app-maneger>
<app-secretary [input]= "call_secretary3" (output)="call_secretary3 = call_secretary3 +1"></app-secretary>
<app-worker [input]= "call_worker3" (output)="call_worker3 = call_worker3 +1"></app-worker>
<br><br><br>

<button (click)="call_maneger4 = call_maneger4 +1" >call maneger4</button>
<button (click)="call_secretary4 = call_secretary4 +1" >call secretary4</button>
<button (click)="call_worker4 = call_worker4 +1" >call worker4</button>
<app-maneger [input]= "call_maneger4" (output)="call_maneger4 = call_maneger4 -1"></app-maneger>
<app-secretary [input]= "call_secretary4" (output)="call_secretary4 = call_secretary4 +1"></app-secretary>
<app-worker [input]= "call_worker4" (output)="call_worker4 = call_worker4 -1"></app-worker>
<br><br><br>

<button (click)="call_maneger5 = call_maneger5 +1" >call maneger5</button>
<button (click)="call_secretary5 = call_secretary5 +1" >call secretary5</button>
<button (click)="call_worker5 = call_worker5 +1" >call worker5</button>
<app-maneger [input]= "call_maneger5" (output)="call_maneger5 = call_maneger5 +1"></app-maneger>
<app-secretary [input]= "call_secretary5" (output)="call_secretary5 = call_secretary5 -1"></app-secretary>
<app-worker [input]= "call_worker5" (output)="call_worker5 = call_worker5 +1"></app-worker>
<br><br><br>

<button (click)="call_maneger6 = call_maneger6 +1" >call maneger6</button>
<button (click)="call_secretary6 = call_secretary6 +1" >call secretary6</button>
<button (click)="call_worker6 = call_worker6 +1" >call worker6</button>
<app-maneger [input]= "call_maneger6" (output)="call_maneger6 = call_maneger6 *2"></app-maneger>
<app-secretary [input]= "call_secretary6" (output)="call_secretary6 = call_secretary6 +1"></app-secretary>
<app-worker [input]= "call_worker6" (output)="call_worker6 = call_worker6 -1"></app-worker>
<br><br><br>

<button (click)="call_maneger7 = call_maneger7 +1" >call maneger7</button>
<button (click)="call_secretary7 = call_secretary7 +1" >call secretary7</button>
<button (click)="call_worker7 = call_worker7 +1" >call worker7</button>
<app-maneger [input]= "call_maneger7" (output)="call_maneger7 = call_maneger7 +1"></app-maneger>
<app-secretary [input]= "call_secretary7" (output)="call_secretary7 = call_secretary7 +1"></app-secretary>
<app-worker [input]= "call_worker7" (output)="call_worker7 = call_worker7 +1"></app-worker>
<br><br><br>

<button (click)="call_maneger8 = call_maneger8 +1" >call maneger8</button>
<button (click)="call_secretary8 = call_secretary8 +1" >call secretary8</button>
<button (click)="call_worker8 = call_worker8 +1" >call worker8</button>
<app-maneger [input]= "call_maneger8" (output)="call_maneger8 = call_maneger8 +1"></app-maneger>
<app-secretary [input]= "call_secretary8" (output)="call_secretary8 = call_secretary8 +1"></app-secretary>
<app-worker [input]= "call_worker8" (output)="call_worker8 = call_worker8 +1"></app-worker>
<br><br><br>

<button (click)="call_maneger9 = call_maneger9 +1" >call maneger9</button>
<button (click)="call_secretary9 = call_secretary9 +1" >call secretary9</button>
<button (click)="call_worker9 = call_worker9 +1" >call worke9r</button>
<app-maneger [input]= "call_maneger9" (output)="call_maneger9 = call_maneger9 -1"></app-maneger>
<app-secretary [input]= "call_secretary9" (output)="call_secretary9 = call_secretary9 -1"></app-secretary>
<app-worker [input]= "call_worker9" (output)="call_worker9 = call_worker9 -1"></app-worker>
<br><br><br>

<button (click)="call_maneger10 = call_maneger10 +1" >call maneger10</button>
<button (click)="call_secretary10 = call_secretary10 +1" >call secretary10</button>
<button (click)="call_worker10 = call_worker10 +1" >call worker10</button>
<app-maneger [input]= "call_maneger10" (output)="call_maneger10 = call_maneger10 +1"></app-maneger>
<app-secretary [input]= "call_secretary10" (output)="call_secretary10 = call_secretary10 +1"></app-secretary>
<app-worker [input]= "call_worker10" (output)="call_worke10r = call_worker10 +1"></app-worker>
<br><br><br>

<button (click)="call_maneger11 = call_maneger11 +1" >call maneger11</button>
<button (click)="call_secretary11 = call_secretary11 +1" >call secretary11</button>
<button (click)="call_worker11 = call_worker11 +1" >call worker11</button>
<app-maneger [input]= "call_maneger11" (output)="call_maneger11 = call_maneger11 +1"></app-maneger>
<app-secretary [input]= "call_secretary11" (output)="call_secretary11 = call_secretary11 +1"></app-secretary>
<app-worker [input]= "call_worker11" (output)="call_worker11 = call_worker11 +1"></app-worker>
<br><br><br>